#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  width: calc( 100% );
  max-width: calc( 100vw - 1em );
}

a {
  color: rgb(21 94 117 / var(--tw-text-opacity, 1));
} 